<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sneaker Base | Premium Sneakers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="header">
  <div class="logo">
    <img src="/static/assets/images/logo.png" alt="Sneaker Base">
  </div>

  <nav class="nav-links">
    <a href="/">Home</a>
    <div class="dropdown">
    <a href="#" style="padding-bottom: 20px;">Brands ▾</a>
    <div class="dropdown-content">
        <a href="/products?brand=Jordan">Air Jordan</a>
        <a href="/products?brand=Nike">Nike</a>
        <a href="/products?brand=Adidas">Adidas</a>
        <a href="/products?brand=Yeezy">Yeezy</a>
        <a href="/products">All Brands</a>
    </div>
</div>
    <a href="/products">Sneakers</a>
    <a href="/products">New Drops</a>
    <a href="#">Sale</a>
  </nav>

  <a href="/cart" style="text-decoration: none; color: inherit;">
    <div class="icons">
         <i class="fa fa-shopping-cart fa-2x"></i> 
         <span>{{ cart_count }}</span>
    </div>
</a>
</header>

<section class="hero">
  <h1>Premium Sneakers</h1>
  <p>Limited Edition • Streetwear • Authentic</p>
  
  <button class="shop" onclick="window.location.href='/products'">Shop Now</button>
</section>

<section class="products">
  <h2>Popular Sneakers</h2>

  <div class="product-grid" id="product-grid">

    
    
  </div>
</section>

<footer>
  <p>© 2026 Sneaker Base. All Rights Reserved.</p>
  
  <a href="/api/v1/priority-access" style="display:none;">Admin API Access</a>
</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>