<!DOCTYPE html>
<html>
<head>
    <title >{{ product.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/info.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <div class="logo">
          <img src="/static/assets/images/logo.png" alt="Sneaker Base">
        </div>
      
        <nav class="nav-links">
          <a href="/">Home</a>
          <div class="dropdown">
          <a href="#" style="padding-bottom: 20px;">Brands ▾</a>
          <div class="dropdown-content">
              <a href="/products?brand=Jordan">Air Jordan</a>
              <a href="/products?brand=Nike">Nike</a>
              <a href="/products?brand=Adidas">Adidas</a>
              <a href="/products?brand=Yeezy">Yeezy</a>
              <a href="/products">All Brands</a>
          </div>
      </div>
          <a href="/products">Sneakers</a>
          <a href="/products">New Drops</a>
          <a href="#">Sale</a>
        </nav>
      
        <a href="/cart" style="text-decoration: none; color: inherit;">
          <div class="icons">
               <i class="fa fa-shopping-cart fa-2x"></i> 
               <span>{{ cart_count }}</span>
          </div>
      </a>
      </header>
      <a href="/" class="back">⬅ Back to Home</a>   
      <h1 class="name">{{ product.title }}</h1>
<section class="info">
    <div>
<img src="{{ product.thumbnail }}" width="350" class="prodimg">
    </div>
    <div class="details">
<p><b>Brand:</b> {{ product.brand }}</p>
<p><b>Price:</b> ₹{{ product.price * 80 }}</p>
<p><b>Rating:</b> ⭐ {{ product.rating }}</p>
<p><b>Stock:</b> {{ product.stock }}</p>

<p class="desc">{{ product.description }}</p>
</div>
</section>
<button class="cart" function="addToCart(name, price, image)">Add To Cart</button>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>